doctype html
html(lang="en")
	head
		title Our AWESOME project
		link(rel="stylesheet" href="css/global.css")
		link(rel="stylesheet" href="css/styles.css")
		meta(charset="utf-8")
	body
		include ../components/nav/nav.pug
		p.test Dog!
		p#miID Let's make magic!
			a(href="google.com") Go to my link
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
		p Let's make magic!
	script(src="assets/js/main.js")